<section class="bg-white" id="df-footer">
	<footer role="contentinfo" class="bg-secondary-700">
		<div class="py-8 border-bottom border-secondary">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-8 menu_footer">
						<div class="row accordion d-lg-flex w-100" id="accordionFooter">
							<div class="col-12 col-lg-auto">
								<hr class="d-block d-lg-none border-secondary m-0">
								<button class="bg-transparent text-light border-0 py-3 px-2 d-flex justify-content-between w-100 d-lg-none h6 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-Company" aria-expanded="false" aria-controls="menu-Company">
									Company
									<i class="bi bi-chevron-down"></i>
								</button>
								<p class="h6 text-white mb-3 d-none d-lg-block">
									Company
								</p>
								<div class="accordion-collapse d-lg-flex collapse" id="menu-Company" data-bs-parent="#accordionFooter" data-section="Company" style="">
									<ul class="list-unstyled px-2 px-lg-0">
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												About us 
											</a>
										</li>
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Careers
											</a>
										</li>
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Business
											</a>
										</li>
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Blog
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-lg-auto">
								<hr class="d-block d-lg-none border-secondary m-0">
								<button class="bg-transparent text-light border-0 py-3 px-2 d-flex justify-content-between w-100 d-lg-none h6 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-Pages" aria-expanded="false" aria-controls="menu-Pages">
									Pages
									<i class="bi bi-chevron-down"></i>
								</button>

								<p class="h6 text-white mb-3 d-none d-lg-block">
									Pages
								</p>
								<div class="accordion-collapse collapse d-lg-flex" id="menu-Pages" data-bs-parent="#accordionFooter" data-section="Pages">
									<ul class="list-unstyled px-2 px-lg-0">

										<li>
											<a href="" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Products
											</a>
										</li>

										<li>
											<a href="" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Login
											</a>
										</li>

										<li>
											<a href="" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Register
											</a>
										</li>

										<li>
											<a href="" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Offices
											</a>
										</li>

									</ul>
								</div>
							</div>
							<div class="col-12 col-lg-auto">
								<hr class="d-block d-lg-none border-secondary m-0">
								<button class="bg-transparent text-light border-0 py-3 px-2 d-flex justify-content-between w-100 d-lg-none h6 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-More-solutions" aria-expanded="false" aria-controls="menu-More-solutions">
									More solutions
									<i class="bi bi-chevron-down"></i>
								</button>
								<p class="h6 text-white mb-3 d-none d-lg-block">
									More solutions
								</p>
								<div class="accordion-collapse collapse d-lg-flex" id="menu-More-solutions" data-bs-parent="#accordionFooter" data-section="More solutions">
									<ul class="list-unstyled px-2 px-lg-0">
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Credit Cards
											</a>
										</li>
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Benefits & Discounts
											</a>
										</li>
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Investments
											</a>
										</li>
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Insurance
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-lg-auto">
								<hr class="d-block d-lg-none border-secondary m-0">
								<button class="bg-transparent text-light border-0 py-3 px-2 d-flex justify-content-between w-100 d-lg-none h6 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-Corporate" aria-expanded="false" aria-controls="menu-Corporate">
									Corporate
									<i class="bi bi-chevron-down"></i>
								</button>
								<p class="h6 text-white mb-3 d-none d-lg-block">
									Corporate
								</p>
								<div class="accordion-collapse collapse d-lg-flex" id="menu-Corporate" data-bs-parent="#accordionFooter" data-section="Corporate">
									<ul class="list-unstyled px-2 px-lg-0">
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												About Dynamic
											</a>
										</li>
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Accessibility
											</a>
										</li>
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Privacy policy 
											</a>
										</li>
										<li>
											<a href="#" class="d-flex link-light link-offset-1 py-1 link-underline-opacity-0 link-underline-opacity-100-hover">
												Security
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col">
								<hr class="d-block d-lg-none mt-0 border-secondary">
							</div>
							<div class="col-12 col-lg-3 text-center text-lg-start">
								<p class="h6 text-white mb-3">Contact us</p>
								<ul class="list-unstyled">
									<li><p class="text-light m-0 py-1">Call Center 600 77 000 77</p></li>
									<li><p class="text-light m-0 py-1">Emergencies 800 77 00 77</p></li>
								</ul>
								<p class="h6 text-white mb-3">Follow Us</p>
								<div class="py-1">
									<a href="#" class="link-light me-2"><i class="bi bi-youtube"></i></a>
									<a href="#" class="link-light me-2"><i class="bi bi-instagram"></i></a>
									<a href="#" class="link-light me-2"><i class="bi bi-facebook"></i></a>
									<a href="#" class="link-light"><i class="bi bi-twitter-x"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-3 text-center text-lg-start">
						<p class="h6 text-white mb-3">Download the app</p>
						<a href="#" class="mb-3 d-block text-center text-lg-start"><img class="mw-100" src="https://cdn.modyo.cloud/uploads/d500e129-0576-4b8d-9cf8-c937ddb94570/original/Descarga_app.png" alt=""></a>
						<a href="#" class="d-block text-center text-lg-start"><img class="mw-100" src="https://cdn.modyo.cloud/uploads/f1c221f8-ce15-495c-b602-ebb41ca0cd29/original/Descarga_app-1.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container py-8">
			<div class="row justify-content-between align-items-center">
				<div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
					<img src="https://cdn.modyo.cloud/uploads/a2ce9735-6634-422a-ad59-e0c4e308e876/original/dynamic_white.svg" alt="" class="brand_footer">
				</div>
				<div class="col-12 col-md-6 text-center text-md-end">
					<span class="text-light m-0">
						© All rights reserved <a href="https://dynamicframework.dev/" class="link-light" target="_blank" rel="noopener noreferrer">Dynamic Framework</a> 2024 | Made in <a href="https://www.modyo.com" class="link-light" target="_blank" rel="noopener noreferrer">Modyo</a> with 💚️</span>
				</div>
			</div>
		</div>
	</footer>
</section>